.filter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .filter-container {
      width: 90%;
      margin: 0 5rem;
      display: flex;
    }
    
    .filter-select {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
    }
    .filter-panel {
      width: 250px;
      margin-left: 4.5rem;
    }
  
    .selected-filter {
      background-color: #f4f4f4;
      padding: 10px;
      border-radius: 5px;
    }
    
    .selected-filter h2 {
      margin-top: 0;
    }
  
    .FilterTitle {
      text-align: center;
    }
  
    .buttom-download-xlsx {
      background-color: #4caf50;;
      font-size: 1rem;
      padding: 1%;
      border: none;
      margin-top: 5rem;
      color: white;
      cursor: pointer;
      width: 170px;
  }
  
  .buttom-download-xlsx:hover {
      background-color: #3e7f41;
  }
  
  @media (max-width: 860px) {
    .filter-container {
      margin: 0 5rem;
      display: block;
    }

  }