.filter-container {
    width: 250px;
    margin: 0 5rem;
  }
  
  .filter-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .selected-filter {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
  }
  
  .selected-filter h2 {
    margin-top: 0;
  }

  .FilterTitle {
    text-align: center;
  }